body {
  text-align:center;
  padding:40px 20px;
  font-family: 'Rubik', sans-serif;
  width:600px;
  margin:auto;
}

img {
  height:300px;
  width:300px;
  margin:auto;
  border-radius:30px;
}

button {
  background-color:blue;
  padding:15px 50px;
  color:whitesmoke;
  border:none;
  border-radius:5px;
  font-size:large;
  border:1px solid grey;
  margin-top:10px;
}

input { 
  padding:17px 50px;
  border-radius:5px;
  border:0;
  font-size:large;
  margin-top:20px;
  text-align:center;
  background-color: #DCE1EB;
}

.container {
  display:flex;
  flex-direction:column;
  margin-bottom:20px;
}

ul {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  gap:10px;
}

ul li {
  background-color:blanchedalmond;
  color:black;
  padding:10px 20px;
  border-radius:10px;
  font-size:large;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}





